<!DOCTYPE html>
<html lang ="fr">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximim-scale=1.0, minimum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="Connect 4" content>
    <link rel="stylesheet" href="../static/mode.css">

    <title>Connect 4 Web - Start Game &#129327; </title>
</head>
<body class="mode-page">
    <div class="mode-options">
        <h2 class="mode-titre">Choose Game Mode</h2>

            <form action="/players" method="post">
            <button class="mode-card" type="submit">
                <div class="card-content">
                    <span class="icon">👤 VS 🤖</span>
                    <span class="label">Player VS Robot</span>
                </div>
            </button>
            </form>
        
        <form action="/start" method="POST">
                <input type="hidden" name="mode" value="vs_player">
                <button class="mode-card" type="submit">
                    <div class="card-content">
                        <span class="icon">👤 VS 👤</span>
                        <span class="label">1 VS 1</span>
                    </div>
                </button>
        </form>
    </div>
</body>
</html>