<!DOCTYPE html>
<html lang ="fr">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximim-scale=1.0, minimum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="Connect 4" content>
    <link rel="stylesheet" href="../static/mode.css">

    <title>Connect 4 Web - Start Game &#129327; </title>
</head>
<body>
    <div class="header-container">
        <h1>Connect - 4</h1>
        <h2>Choose Game Mode</h2>
    <form action="/players" method="post">
        <label>
            <input type="button" name="difficulty" value="1 VS 1" checked>

    </label><br>
    <label>
        <input type="button" name="difficulty" value=" VS Robot"> 
    </label><br>
        <button class="play-button" type="submit"></button>
    </form>
    </div>
</body>
</html>
<body class="welcome-page">
    <div class="header-container">
        <h2 class="welcome-text"> Welcome in the game </h1>
        <h1 class="connect4">CONNECT - 4</h1>
    <form action="/mode" method="post">
        <button class="play-button" type="submit"> 
            <span class="play-icon">Play </span>
            Play 
        </button>
    </form>
    </div>
</body>
</html>