((define " Start"))
<!DOCTYPE html>
<html lang ="fr">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximim-scale=1.0, minimum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="Connect 4" content>
    <link rel="stylesheet" href="player.css">

    <title>Connect 4 Web - Start Game </title>
</head>
<body>
    <h1>Choisir le niveau du jeux</h1>
    <form action=""
    <label>
        <input type="radio" name="difficulty" value="easy" checked> Easy (6x7)

    </label><br>
    <label>
        <input type="radio" name="difficulty" value="normal"> Normal (6x9)
    </label><br>
    <label>
        <input type="radio" name="difficulty" value="hard"> hard (7x8)
    </label><br></br>
    <button type="submit"> Start </button>


</body>
</html>